@tailwind base;
@tailwind components;
@tailwind utilities;

.nicebtn {
  @apply px-8 bg-purple-500 text-white block py-4 rounded font-bold text-center mt-10 cursor-pointer hover:bg-purple-400;
}

body,
html {
  height: 100%;
}

.logo {
  @apply bg-gradient-to-r from-purple-500 to-yellow-500;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
